{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}


<div class="container">
	<div class="detail"><br><br>
		<h3 style="color: green">Academic Information</h3>
		<P>The academic session begins in mid-April (the first week of Baisakh), and is completed by the second week of March of the following year (the first week of Chaitra). The academic session is divided into three terms, and each term ends with the conduct of the terminal examination. Unit tests account for ten (10) percent, and the terminal examinations carry 90 percent of the marks. The final result is prepared on the basis of average marks obtained throughout the three terms. Students, who fail for two consecutive years in the same class, will be issued a TC.

        Information about examination schedules, important activities/events and holidays are clearly mentioned in the school calendar. Parents are required to follow the schedule strictly. They will also be notified in writing if any changes are made in the schedule due to any circumstances.</P><br><br>

        <a href="{% url 'bfsapp:clientadmissionn' %}"><h3 style="color: green">Admission</h3></a>
        <p> Generally, students are admitted in grade I and IV. The age at the time of admission in grade I must not exceed six and a half years. Admission forms and the school prospectus are available at the school office during the second week of March every year. A written admission test and interview are conducted, and successful candidates are admitted on the merit basis. The following documents must be submitted at the time of admission.<br>

		1.  Mark sheet of the final examination of the former school<br>
		2.  Transfer Certificate/Character Certificate<br>
		3.  Birth certificate<br>
		4.  Completed Medical certificate<br>
		5.  Two copies of recent passport size photographs<br>
		6.  Once the student is admitted to the school, admission fees including annual fees will not be refunded in case of cancellation of admission. <br>7.  However, the security deposit will be refunded only after receiving an application of withdrawal from the parent.<br><br>
		Apply for the online Admission <a href="{% url 'bfsapp:clientadmissionn' %}"><button>Admission</button></a>
        </p><br><br>
        <h3 style="color: green">Scholarship</h3>
        <p>1.  A full scholarship on tuition fees is awarded every year to students who are financially needy but are intelligent and hardworking.<br>
        2.  A partial scholarship on tuition fees is awarded to students who excel in games, sports and other activities conducted within the school or in Inter-School, District or National level competitions.</p><br><br>
    </div>
</div>    

{% endblock content %}
