{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}

{% block content %}
<br><br>

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
  <div class="container">
    <div class="student-grids">
      <div class="col-md-8 student-grid">
<center><h3 style="color: green"> Exam Routine</h3></center><br>
<table id="customers">
  <tr>
    <th><h3>Class</h3></th>
    <th><h3>Download</h3></th>
  </tr>
  {% for routine in routines %}
  <tr>
    <td>{{routine.grade}}</td>
    <td><a href="{{routine.document.url}}" download>{{routine.document}}</a></td>
    
  </tr>
  {% endfor %}
</table><br><br>

</style>
</head>
</div>
</div>
</div>
{% endblock content %}