{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block activities %}active{% endblock activities %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/ken-style.css' %}">

{% block content %}


	<div class="banner-w3agile">
		<div class="container">
				<h3>Online Exam</h3>
		</div>
	</div>

<div class="new-w3agile">
		<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: red"><a style="color: yellow" href="{% url 'bfsapp:home' %}">Multiple Choice Questions</a></th>
			</tr>
		</table>
	</div><br>
	<div class="container">
		<h2 style="color: green" class="text-center">Online Examination</h2>
		<div class="new-grids">
			<table>
				 <tr>
				    <th>Class 1</th>
				    <th>Class 2</th>
				    <th>Class 3</th>
				    <th>Class 4</th>
				    <th>Class 5</th>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5science/">Science</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5english/">English</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5social/">Social</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1gk/">G.K</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2gk/">G.K</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3gk/">G.K</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4gk/">G.K</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5gk/">G.K</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1conversation/">Conversation</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2conversation/">Conversation</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3conversation/">Conversation</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4conversation/">Conversation</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5conversation/">Conversation</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class1grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class2grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5grammar/">Grammar</a></td>
				</tr>
				<tr>
				    <td></td>
				    <td></td>
				    <td><a href="https://rtnxam.herokuapp.com/class3computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class4computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class5computer/">Computer</a> & <a href="https://rtnxam.herokuapp.com/class5eph/"> E.P.H</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="container">
			<table>
				 <tr>
				    <th>Class 6</th>
				    <th>Class 7</th>
				    <th>Class 8</th>
				    <th>Class 9</th>
				    <th>Class 10</th>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9science/">Science</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10science/">Science</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9english/">English</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10english/">English</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9social/">Social</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10social/">Social</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6eph/">E.P.H</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7eph/">E.P.H</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8eph/">E.P.H</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9eph/">E.P.H</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10eph/">E.P.H</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9computer/">Computer</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10computer/">Computer</a></td>
				</tr>
				<tr>
				    <td><a href="https://rtnxam.herokuapp.com/class6grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class7grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9grammar/">Grammar</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10grammar/">Grammar</a></td>
				</tr>
				<tr>
				    <td></td>
				    <td></td>
				    <td><a href="https://rtnxam.herokuapp.com/class8account/">Account</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class9account/">Account</a></td>
				    <td><a href="https://rtnxam.herokuapp.com/class10account/">Account</a></td>
				</tr>
			</table>
		</div><br><br>

{% endblock content %}