{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block blog %}active{% endblock blog %}


{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">Blog</a></h3>
			</div>
		</div>

		<!--content-->
		<div class="content">
			<div class="courses-w3ls">
				<div class="container">
					<h2 class="tittle">Blogs</h2>
					{% for blog in blogs %}
					<div class="course-grids">
						<div class="col-md-3 course-grid">
							<div class="mask">
								<img src="{{blog.image.url}}" class="img-responsive zoom-img" />
							</div>
						</div>
						<div class="col-md-9 course-grid1 gri">
							<h4>{{blog.title}}</h4>
							<p>{{blog.content|truncatewords:'50'}}
                               <a class="btn btn-primary" href="{% url 'bfsapp:clientblogdetail' blog.id %}">Read More</a>
							</p>
							<p>Author:{{blog.author}}</p>
						
						</div>
						<div class="clearfix"></div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>	


{% endblock content %}