{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}

<div class="new-w3agile">
	<div class="container">
		<div class="new-grids">
			<div class="col-md-12 new-right">
								<h3 class="tittle1">Events</h3>
								<div class="new-bottom">
									<div class="new-bottom-left">
										<img src="{{object.image.url}}" class="img-responsive" alt="">
									</div>
										<div class="new-bottom-right">
										<h5>{{object.title}}</h5>
											<p>{{event.content}}
										</p>
										</div>
										<div class="clearfix"></div>
								</div>
								<div class="fb-comments" data-href="" data-width="500" data-numposts="5"></div>
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--news-->
		</div>


{% endblock content %}