{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block about %}active{% endblock about %}


{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">About</a></h3>
			</div>
		</div>
		<!--content-->
		<div class="content">
			<!--about-->
			<div class="about-w3">
				<div class="container">
					<h2 class="tittle">About Us</h2>
					<div class="about-grids">
						<div class="col-md-6 about-grid">
						 <h4>Think Now Think Ahead</h4>
							 <p>Bright Future English Boarding School was established in 2072 in Malangwa, Sarlahi with 120 students and 25 staff members. Initially, classes from Nursery to grade VII were offered. Today, it has become a full-fledged secondary school running classes from grade one to ten. Upon completion of the all construction of school complex at Malangwa-9, which is nearly 0.5 kilometers away from Bus-Station point on the Ring road</p>
							<p>The school has excellent infrastructure supported by state-of-the-art facilities. It has modern academic buildings with spacious classrooms, laboratories, conference hall, hostel buildings, administrative offices,  and playing grounds. There are separate buildings and rooms for extra-curricular activities such as Lab, e-class, Practicle, Activities, guitar, etc.	
							</p>
						 </div>
						<div class="col-md-6 video-grid">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/GoKOhIzeakw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-->
			<!--What we do-->
				<div class="what-w3">
					<div class="container">
						<h3 class="tittle">What we do</h3>
						<div class="what-grids">
							<div class="col-md-6 what-grid">
						       {% for galleri in A7s %}
								<div class="mask">
									<img src="{{galleri.image.url}}" class="img-responsive zoom-img" />
								</div>
								{% endfor %}
								<div class="what-bottom">
									<h4>co-operative Environment</h4>
									<p>We believe that parents who send their children to The Radclyffe School have a clear idea of what we are trying to do for our students. To help students build on their strengths and overcome their weaknesses, To use the skills, knowledge, experience and talents of all staff to personalise the learning for each student.</p>
								</div>
							</div>
							<div class="col-md-6 what-grid">
								<div class="what-bottom1">
                                    <h4>Encourage Student at its Peak</h4>
									<p> Student encouragement is a student's desire to participate in the learning process. It is simply a student's willingness, need, desire, and compulsion to participate in, and be successful in the learning process.  Motivation is the key to a student's school success and is the driving force behind successful learning.</p>
								</div>
						       {% for galleri in A8s %}
								<div class="mask">
									<img src="{{galleri.image.url}}" class="img-responsive zoom-img" />
								</div>
								{% endfor %}
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			
						<div class="statistics-w3">
							<div class="container">
								<h3 class="tittle">Fun Facts</h3>
								<div class="statistics-grids">
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>85%</h4>
											<h5>Success Rate</h5>
											<p>students are prepared for success in their personal, civic,high-quality learning and professional lives. 
											</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>95%</h4>
											<h5>Happy Students</h5>
											<p> “Happier students report positive relations with teachers,” and High Imagination thinking</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h4>80%</h4>
											<h5>Extra curriculum</h5>
											<p>All students should be able to find an extracurricular that they are interested in and can develop a passion for!</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<!-- <h4>100%</h4> -->
											<h5>MCQ Exam</h5><br>
											<p>The students of our school are practing in MCQ Exams everyday for their encourangement in study and basics </p>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
<div class="content">
	<div class="projects-agile">
		<div class="container">
			<h2 class="tittle"> Videos</h2>
				{% for vide in video|slice:'12' %}					
					<div class="portfolio_grid_w3lss">
						<div class="col-md-4 w3agile_Projects_grid">
							<div class="w3agile_Projects_image">

								<iframe style="width: 360px; height: 230px" src="https://www.youtube.com/embed/{{vide.url}}?ecver=1" frameborder="0" allowfullscreen class="img-thumbnail"></iframe>

								<h3 style="color: green">{{vide.title}}</h3>
							</div>
						</div>
			</div>
			{% endfor %}	
			<div class="clearfix"> </div>
			<script type="text/javascript" src="js/smoothbox.jquery2.js"></script>
		</div>
	</div>
</div>
				

<div class="content">
	<div class="projects-agile">
		<div class="container">
					<h2 class="tittle">Our Staff</h2>
							{% for staff in staffs %}
							
						<div class="portfolio_grid_w3lss">

							<div class="col-md-4 w3agile_Projects_grid">
								<div class="w3agile_Projects_image">
										<figure>
											<img src="{{staff.image.url}}" alt="" class="img-responsive img-thumbnail"/>
											<figcaption>
											<h4>{{staff.name}}</h4>
											<p>Post: {{staff.post}}</p>
											<p>Email: {{staff.email}}</p>
											{% if staff.subject %}
											<p>Subject: {{staff.subject}}</p>
											{% endif %}
											{% if staff.phone1 %}
												<p>phone1: {{staff.phone1}}</p>
											{% endif %}

											</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</div>
							{% endfor %}
						
						<div class="clearfix"> </div>
					<script type="text/javascript" src="js/smoothbox.jquery2.js"></script>
		</div>
	</div>
</div>



		

{% endblock content %}
                            {% for vide in video %}

								<iframe width="360" height="240" src="https://www.youtube.com/embed/{{vide.url}}?ecver=1" frameborder="0" allowfullscreen class="img-thumbnail"></iframe>
								<h3>{{vide.title}}</h3>

							{% endfor %}
