{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block blog %}active{% endblock blog %}


{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">Blog</a></h3>
			</div>
		</div>

		<!--content-->
		<div class="content">
			<div class="courses-w3ls">
				<div class="container">
					<h2 class="tittle">Blogs</h2>
					<div class="course-grids">
						<div class="col-md-3 course-grid">
							<div class="mask">
								<img src="{{abc.image.url}}" class="img-responsive zoom-img" />
							</div>
						</div>
						<div class="col-md-9 course-grid1 gri">
							<h4>{{abc.title}}</h4>
							<p>{{abc.content}}
							</p>
							<p>Author:{{abc.author}}</p>
						
						</div>
						<div class="clearfix"></div>
						<div class="fb-comments" data-href="" data-width="500" data-numposts="5"></div>
							</div>
					</div>
				</div>
			</div>
		</div>	


{% endblock content %}