{% load static %}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Login form</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Portrait Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'clientstatic/css3/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'clientstatic/css3/font-awesome.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>
			<span>L</span>ogin
			<span>F</span>orm</h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<img src="{% static 'clientstatic/images3/e3.jpg' %}" alt="" />
			<h2><font face="Algerian">Bright Future School</font></h2>
			<form action="{% url 'bfsapp:clientlogin' %}" method="POST">
				    {% csrf_token %}
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span>
					{{form.username}}
				</div>
				<div class="pom-agile">
					<span class="fa fa-key" aria-hidden="true"></span>
					{{form.password}}
				</div>
				{% if request.GET.next %}
			    <input type="hidden" name="next" value="{{request.GET.next}}">
			    {% endif %}
			    {% if errors %}
			    {{errors}}
			    {% endif %}
				<div class="sub-w3l">
					<div class="sub-agile">
						<input type="checkbox" id="brand1" value="">
						<label for="brand1">
							<span></span><a style="color: white" href="">Forget password</a></label>
					</div>
					<div class="clear"></div>
				</div>
				<div class="right-w3l">
					<input type="submit" value="Login">
				</div>
<!-- 				<div class="forgot-w3l">
					<h3 style="color: purple">Dont have a Account? <button><a href="{% url 'bfsapp:studentregistration' %}" style="color: green"> Register</a></button> </h3>
				</div>
 -->			</form>
		</div>
	</div>
	<!--//main-->
	<!--footer-->
	<div class="footer">
<!-- 		<p>&copy; 2018 Portrait Login Form. All rights reserved | Design by
			<a href="http://w3layouts.com">W3layouts</a>
		</p> -->
	</div>
	<!--//footer-->
</body>

</html>
