{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}

<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">

            <!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">

            	{% for slider in sliders %}
                <!-- First-Slide -->
                <div class="item {% if slider.id is 1 %}active{% endif %}">
                	<div class="container">
                    	<h1 style="color: #F58703"><font face="Algerian"> Bright Future English Boarding School</font></h1>
                    </div>
                    <img src="{{slider.image.url}}" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption">
                        <h4 style="color: #F58703" data-animation="animated flipInX">{{slider.caption}}</h4>
                        <a href="{% url 'bfsapp:clientadmissionn' %}"><h4 style="color: #F58703"><button type="button"> Admission</button></h4></a>
                    </div>
                </div>
                {% endfor %}
             

            </div>
			
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
			
        </div>
		<script src="{% static 'clientstatic/js//custom.js"></script>
	</div>
<!--banner-->
	<!--content-->
		<div class="content">
			<!--banner-bottom-->
			<div class="banner-bottom">
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><a style="color: #F58703" href="{% url 'bfsapp:clientadmission' %}">Academic <br>Section</a></h4>
					</div>
					<div class="ban-right">
						<a href="{% url 'bfsapp:clientadmission' %}"><img style="max-width: 80px;" src="{% static 'clientstatic/images/p2.jpg' %}" class="img-responsive img-circle img-thumbnail"></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><a style="color: #F58703" href="{% url 'bfsapp:Clientroutinelist' %}">Exam Routine</a></h4>
						<h4><a style="color: #F58703" href="{% url 'bfsapp:Clientresultlist' %}">& Result</a></h4>
					</div>
					<div class="ban-right">
						<a href="{% url 'bfsapp:Clientroutinelist' %}"><img style="max-width: 100px;" src="{% static 'clientstatic/images/j1.jpg' %}" class="img-responsive img-circle img-thumbnail"></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
					<h4><a style="color: #F58703" href="{% url 'bfsapp:clientvacancylist' %}">Vacancy</a></h4>	
                    <h4><a style="color: #F58703" href="{% url 'bfsapp:clientfeestructure' %}">Fee structure</a></h4>
					</div>
					<div class="ban-right">
						<a href="{% url 'bfsapp:clientfeestructure' %}"><img style="max-width: 110px;" src="{% static 'clientstatic/images/j2.jpg' %}" class="img-responsive img-circle img-thumbnail"></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><a style="color: #F58703" href="{% url 'bfsapp:ClientdownloadList' %}">Download</a></h4>
						<h4><a style="color: #F58703" href="https://mcqexam.herokuapp.com/">MCQ Exam</a></h4>
					</div>
					<div class="ban-right">
					<a href="{% url 'bfsapp:ClientdownloadList' %}"><img style="max-width: 80px;" src="{% static 'clientstatic/images/p1.png' %}" class="img-responsive img-circle img-thumbnail"></a>	
				</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!--banner-bottom-->
			<!--welcome-->
			<div class="welcome-w3">
				<div class="container">
					<h2 class="tittle">Welcome To Our School </h2>
					<div class="wel-grids">
						<div class="col-md-4 wel-grid">
							<div class="port-7 effect-2">
								{% for galleri in A1s %}
								<div class="image-box">
									<img src="{{galleri.image.url}}" class="img-responsive" alt="Image-2">
								</div>
								<div class="text-desc">
									<h4>{{galleri.title}}</h4>
								</div>
								{% endfor %}
							</div>
							<div class="port-7 effect-2">
								{% for galleri in A2s %}
								<div class="image-box">
									<img src="{{galleri.image.url}}" class="img-responsive" alt="Image-2">
								</div>
								<div class="text-desc">
									<h4>{{galleri.title}}</h4>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-4 wel-grid">
							<img src="{% static 'clientstatic/images/w3.jpg' %}"  class="img-responsive" alt="Image-2">
							<div class="text-grid">
								<h4>Studies</h4>
							</div>
						</div>
						<div class="col-md-4 wel-grid">
							<div class="port-7 effect-2">
								{% for galleri in A4s %}
								<div class="image-box">
									<img src="{{galleri.image.url}}" class="img-responsive" alt="Image-2">
								</div>
								<div class="text-desc">
									<h4>{{galleri.title}}</h4>
								</div>
								{% endfor %}
							</div>
							<div class="port-7 effect-2">
								{% for galleri in A5s %}
								<div class="image-box">
									<img src="{{galleri.image.url}}" class="img-responsive" alt="Image-2">
								</div>
								<div class="text-desc">
									<h4>{{galleri.title}}</h4>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--welcome-->
			<!--student-->
			<div class="student-w3ls">
				<div class="container">
					<h3 class="tittle"> Our Students</h3>
					<div class="student-grids">
						<div class="col-md-6 student-grid">
							<h4>Greeting Our Children's Future</h4>
								<p>Students are the future leaders of any country so they must be cared and groomed to be good citizen by parents, teachers, coaches and a large section of the society.</p>
								<p>Our students are always remains teachable and they surrender themselves in pursuit of acquiring knowledge. Students focus on character building and developing a balanced personality. They always make their parents, teachers, institution and country proud of themselves proud with their achievements.</p>
								<ul class="grid-part">
									<li><i class="glyphicon glyphicon-ok-sign"> </i>Always Remain in Pursuit of Knowledge</li>
									<li><i class="glyphicon glyphicon-ok-sign"> </i>Deep Sense of Respect for Society and Culture</li>
									<li><i class="glyphicon glyphicon-ok-sign"> </i>Learn through Doing & Learn through doing</li>
									<li><i class="glyphicon glyphicon-ok-sign"> </i>Focus on the end result & Manage Relationship</li>
									<li><i class="glyphicon glyphicon-ok-sign"> </i>Participate in Sports and Extra-curricular Activities</li>
								</ul>

						</div>
						{% for galleri in A6s %}
						<div class="col-md-6 student-grid">
							<img src="{{galleri.image.url}}" class="img-thumbnail" class="img-responsive" alt="Image-2">
						</div>
						{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--student-->
			<!--testimonials-->
				<div class="testimonials-w3">
					<div class="container">
					<h3 class="tittle2">Testimonials</h3>
					{% for testimonial in testimonials %}
					    <div class="col-md-4">
							<div class="test-grid">
								<img src="{% static 'clientstatic/images/quote.png' %}" alt=/>
								<p>{{testimonial.says}}</p>
								<p><i>{{testimonial.name}}</i></p>
							</div>
						</div>
					{% endfor %}

					</div>
				</div>
			<!--testimonials-->
			<!--news-->
				<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-4 new-left">
								<h3 class="tittle1">Notice</h3>
								{% for notice in notices %}
								<div class="new-top">
									<h5>{{notice.title}}</h5>
									<p>{{notice.content}}</p>
									<p>{{notice.date}}</p>
								</div>
								{% endfor %}
							</div>
							<div class="col-md-8 new-right">
								<h3 class="tittle1">Events</h3>
								{% for event in events|slice:'3' %}	
								<div class="new-bottom">
									<div class="new-bottom-left">
										<a href="{% url 'bfsapp:clienteventdetail' event.id %}"><img class="img-thumbnail" src="{{event.image.url}}" class="img-responsive" alt=""></a>
									</div>
										<div class="new-bottom-right">
										<h5>{{event.title}}</h5>
											<p>{{event.content|truncatewords:'50'}}
											<a class="btn btn-primary" href="{% url 'bfsapp:clienteventdetail' event.id %}">Read More</a>
										<p>{{event.date}}</p>

										</p>
										</div>
										<div class="clearfix"></div>
								</div>
								{% endfor %}	
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--news-->
		</div>


{% endblock content %}