<!DOCTYPE html>
<html>
<head>
	<title>thanku</title>
</head>
<body style="background-color: lightgreen"><br><br><br><br><br><br>
<div class="container">
	<h1><center>Your Message has been<br> Successfully submitted</center></h1>
	<center><a href="{% url 'bfsapp:clienthome' %}"><button><h3>HOME</h3></button></a></center>
	<h1><center>Thanku ! For Your Message<br>You Will Contact You Soon</center></h1>

</div>
</body>
</html>