{% extends 'bfsapp/admintemplates/base.html' %}


{% block extras %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

{% endblock %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'adminstatic/css/style1.css' %}" rel='stylesheet' type='text/css' />
{% block content %}
    <div id="page-wrapper">
        <div class="graphs">
             <div class="xs">
                <head>
                    <style>
                        table, th, td {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        th, td {
                            padding: 5px;
                            text-align: left;    
                        }
                    </style>
                </head>
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>
                                            Routine list
                                        </h2>
                                        <h2 class="pull-right">
                                            <a style="color: green" href="{% url 'bfsapp:adminroutinecreate' %}">Add New</i></a>
                                        </h2><br><br><br>
                                    </div>        
        <div class="body">
            <div class="table-responsive"> 
                    <table id="myTable" class="display">
                        <thead>
                            <tr style="background-color: pink">
                                <th>SN</th>
                                <th>Grade</th>
                                <th>Document</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for routine in allroutines %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{routine.grade}}</td>
                                <td>{{routine.document}}</td>
                                <td>
                                    <a href="{% url 'bfsapp:adminroutineupdate' routine.id %}" class="btn btn-default"> Update</a>
                                    <a href="{% url 'bfsapp:adminroutinedelete' routine.id %}" class="btn btn-danger" data-toggle="modal" data-target="#schoolmodal"> Delete</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock content %}

{% block javascript %}

<link href="{% static 'adminstatic/css/custom.css' %}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'adminstatic/js/metisMenu.min.js' %}"></script>
<script src="{% static 'adminstatic/js/custom.js' %}"></script>

{% endblock javascript %}
