{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{% static 'adminstatic/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<script src="{% static 'adminstatic/js/jquery.min.js' %}"></script>
<!----webfonts--->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'adminstatic/js/bootstrap.min.js' %}"></script>
</head>
<body id="login" style="background-color: red">
  <div class="login-logo">
    <a href="index.html"><img src="{% static 'adminstatic/images/logo.png' %}" alt=""/></a>
  </div>
  <h2 class="form-heading">login</h2>
      {% if errors %}
    <h3 style="color: red;">{{errors}}</h3>
    {% else %}
    <h3 class="text-center">Enter your secret username and password</h3>
    {% endif %}
  <div class="app-cam">
    <form action="{% url 'bfsapp:adminlogin' %}" method="POST" >
      {% csrf_token %}
      {{form.as_p}}

    <!-- <input type="text" class="text" value="E-mail ddress" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = {{forms.username}}">
    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = {{forms.password}}"> -->
    <div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
  </form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">Ruppesh Adhiakri</a> </p>
   </div>
</body>
</html>
